<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Empleados</title>
    </h:head>
    <h:body>
        <ui:include src="menu.xhtml" />
        <h:panelGrid columns="2">
            <h:form id="form1">
                <p:fieldset legend="Registro de empleados">
                    <h:panelGrid columns="2">
                        <p:outputLabel value="Primer Nombre" />
                        <p:inputText value="#{empleadosMB.empleado.primerNombre}" />
                        <p:outputLabel value="Segundo Nombre" />
                        <p:inputText value="#{empleadosMB.empleado.segundoNombre}" />
                        <p:outputLabel value="Primer Apellido" />
                        <p:inputText value="#{empleadosMB.empleado.primerApellido}" />
                        <p:outputLabel value="Segundo apellido" />
                        <p:inputText value="#{empleadosMB.empleado.segundoApellido}" />
                        <p:outputLabel value="Correo" />
                        <p:inputText value="#{empleadosMB.empleado.correo}" />
                        <p:outputLabel value="Tel-Fijo" />
                        <p:inputMask mask="9999-9999" value="#{empleadosMB.empleado.telFijo}" />
                        <p:outputLabel value="Tel-Movil" />
                        <p:inputMask mask="9999-9999" value="#{empleadosMB.empleado.telMovil}" />
                        <p:outputLabel value="Jefe" />
                        <p:selectOneMenu value="#{empleadosMB.jefe.id}">
                            <f:selectItem itemValue="0" itemLabel="Ninguno"  />
                            <f:selectItems value="#{empleadosMB.empleados}" var="emp" itemValue="#{emp.id}" itemLabel="#{emp.primerNombre}" />
                        </p:selectOneMenu>
                        <p:commandButton value="Registrar" actionListener="#{empleadosMB.insertEmpleado()}" update="form1,:data"/>
                        <p:commandButton value="Actualizar" actionListener="#{empleadosMB.editEmpleado()}" update="form1,:data"/>
                    </h:panelGrid>
                </p:fieldset>
            </h:form>
            <h:form id="data">
                <p:fieldset legend="Lista empleados">
                    <p:dataTable value="#{empleadosMB.empleados}" var="emp" paginator="true" rows="6">
                        <p:column headerText="Primer Nombre" >
                            <p:outputLabel value="#{emp.primerNombre}" />
                        </p:column>
                        <p:column headerText="Segundo Nombre" >
                            <p:outputLabel value="#{emp.segundoNombre}" />
                        </p:column>
                        <p:column headerText="Primer Apellido" >
                            <p:outputLabel value="#{emp.primerApellido}" />
                        </p:column>
                        <p:column headerText="Segundo Apellido" >
                            <p:outputLabel value="#{emp.segundoApellido}" />
                        </p:column>
                        <p:column headerText="Acciones" >
                            <p:commandButton value="Editar" actionListener="#{empleadosMB.seleccion(emp)}" update=":form1" />
                            <p:commandButton value="Borrar" actionListener="#{empleadosMB.borrar(emp)}" update="data" />
                        </p:column>
                    </p:dataTable>
                </p:fieldset>
            </h:form>
        </h:panelGrid>
    </h:body>
</html>

