<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:include src="menu.xhtml" />
        <h:form>
            <p:dataTable value="#{empleadosMB.empleados}" var="emp">
                <p:column headerText="Primer Nombre" >
                    <p:outputLabel value="#{emp.primerNombre}" />
                </p:column>
                <p:column headerText="Segundo Nombre" >
                    <p:outputLabel value="#{emp.segundoNombre}" />
                </p:column>
                <p:column headerText="Primer Apellido" >
                    <p:outputLabel value="#{emp.primerApellido}" />
                </p:column>
                <p:column headerText="Segundo Apellido" >
                    <p:outputLabel value="#{emp.segundoApellido}" />
                </p:column>
                 <p:column headerText="Jefe" >
                     <p:outputLabel value="#{emp.jefe.id}" />
                </p:column>
            </p:dataTable>
            <p:commandButton value="Migrar Datos" actionListener="#{empleadosMB.migrar()}" />
            <p:commandButton value="Borrar Respaldo" actionListener="#{empleadosMB.deleteRespaldo()}" />
        </h:form>
    </h:body>
</html>

